## Here we have an untidy dataset of artworks from the Museum of Modern Art.
### We will look at the first 5 records.

In [99]:
import pandas as pd
data = pd.read_csv('artworks.csv')
data.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

### Now we'll drop the columns that we don't need

In [100]:
data.drop(data.columns[2:7], axis=1, inplace=True)
data.drop(data.columns[4:], axis=1, inplace=True)
data.head()

,Title,Artist,Gender,Date
0,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",Otto Wagner,(Male),1896
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,(Male),1987
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,(Male),1903
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,(Male),1980
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,(Male),1903

### Now we'll look at an overview of the data we're working with

In [101]:
print '(Rows, Columns)', data.shape,'\n'
print 'Missing Values','\n', data.isnull().sum()
#So we have 12541 rows of data and some missing values for Artist, Gender, and Date

(Rows, Columns) (12541, 4)

Missing Values
Title      0
Artist    11
Gender    11
Date       4
dtype: int64

### Here we'll remove any rows that contain missing values

In [103]:
data = data.dropna(how='any')
data.shape
#We have reduced the dataset to 12527 records

(12527, 4)

### Now we can analyze the data
### Example: How many artworks MoMA has from each artist

In [127]:
newset = data.groupby(data['Artist'])['Artist'].agg(['value_counts'])
newset.head()

                                   value_counts
Artist           Artist
A. Alcorn        A. Alcorn                    1
A. Andreas       A. Andreas                   1
A. F. Gangkofner A. F. Gangkofner             2
A. G. Fronzoni   A. G. Fronzoni               8
A. Gisiger       A. Gisiger                   1

### Now drop the redundant column

In [147]:

newset = data['Artist'].value_counts()
print 'Number of Works by Artist', '\n', newset.head(10)

Number of Works by Artist
Unknown Artist              522
Henri Matisse               231
E. McKnight Kauffer         170
Anni Albers                 139
Josef Albers                125
Anatoli Lvovich Kaplan      124
Ludwig Mies van der Rohe    119
Unknown Designer            117
Louis I. Kahn               115
Herbert Bayer                91
Name: Artist, dtype: int64